# Specfile for OpenOCD RPM Package

# $Id: specfile.template 1483 2009-07-10 18:06:47Z svn $

Summary: OpenOCD JTAG for ARM Microcontrollers
Name: openocd
Version: @@VERSION@@
Release: 1
Group: Utilities
License: GPL
Packager: Philip Munts <phil@munts.net>
Source: %{name}-%{version}.tar.gz

%description
OpenOCD JTAG for ARM Microcontrollers by Dominic Rath <Dominic.Rath@gmx.de> and others

%files
%defattr(-,root,root)
