# udev rules for NXP LPC USB boot loader

# $Id$

# LPC17xx USB boot loader, AN10866
SUBSYSTEMS=="usb", ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1303", ACTION=="add"    RUN+="/bin/ln -s -f 'CRP DISABLE' /media/LPC17xx"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="c251", ATTRS{idProduct}=="1303", ACTION=="remove" RUN+="/bin/rm /media/LPC17xx"
