# OpenOCD configuration for LPC2119 microcontroller

# $Id: openocd.cfg,v 1.2 2008-07-23 20:19:48 cvs Exp $

# TCP server configuration

gdb_port 3333
telnet_port 4444

# Interface configuration

interface ft2232
#ft2232_device_desc "Amontec JTAGkey A"
#ft2232_layout jtagkey
#ft2232_vid_pid 0x0403 0xcff8
ft2232_device_desc "Olimex OpenOCD JTAG TINY A"
ft2232_layout "olimex-jtag"
ft2232_vid_pid 0x15BA 0x0004

#JTAG settings
jtag_khz 3000
jtag_nsrst_delay 200
jtag_ntrst_delay 200

#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst srst_pulls_trst

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag_device 4 0x1 0xf 0xe

#target arm7tdmi <endianess> <jtag#>
target arm7tdmi little 0

#working_area <target#> <address> <size> <'backup'|'nobackup'>
working_area 0 0x40000000 0x2000 nobackup

#flash configuration
flash bank lpc2000 0x0 0x20000 0 0 0 lpc2000_v1 19661 calc_checksum
