# Specfile for GCC toolchain for bare-machine ARM microcontrollers

# $Id$

Summary: GCC toolchain for bare-machine ARM Microcontrollers
Name: armtools
Version: @@VERSION@@
Release: @@RELEASE@@
Group: Utilities
License: GPL
Packager: Philip Munts <phil@munts.net>
Source: %{name}-%{version}.tar.gz

%description
GCC toolchain for bare-machine ARM microcontrollers

%post
chmod -R ugo-w /usr/local/arm-tools

%files
%defattr(-,root,root,555)
